footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}

.floatleft {
  float: left;
}

main {
  float: right;
}

.sign-board {
  background-image: url("../assets/images/snow_plow.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.sign-board .highlight {
  background: rgba(255, 255, 255, 0.9);
  margin: 185px 80px 175px;
  padding: 1rem;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  
}
